---
import type { Lang } from "../types";

interface Props {
  currentLang: Lang;
}

const { currentLang } = Astro.props;
---

<div
  class="fixed bottom-0 w-full flex justify-end text-primary px-6 pb-2 bg-transparent"
>

  <a
    class="group flex flex-nowrap "
    target="_blank"
    href="https://danielx-art.github.io/portfolio/"
    >
      <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    class="size-4 mr-1 opacity-0 group-hover:opacity-100 group-hover:translate-y-[2px] transition-all"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
    ></path>
  </svg>
    
    
    <span class="border-b-2 border-b-transparent hover:border-b-primary transition-all px-[2px]">{currentLang === "br" ? "Mais sobre mim" : "More about me"}</span>
</a>
</div>
