---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { Lang, Translation } from "../../types";
import { PostsList } from "../../components/PostsList";

export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "br" } }];
}

const { lang } = Astro.params as { lang: Lang };

const posts = await getCollection("posts");
const filtered = posts.filter((p) => p.data.lang === lang);

const currentQuery = Astro.url.search || "";

const translation: Translation = lang === "en"
  ? { lang: "br", query: currentQuery }
  : { lang: "en", query: currentQuery };
---

<BaseLayout
  title={lang === "en" ? "Daniel's Dev Journal" : "Blog Tec do Daniel"}
  description={lang === "en"
    ? "A dev journal documenting my projects."
    : "Um diário de desenvolvimento documentando meus projetos."}
  lang={lang}
  translation={translation}
>
  <div class="md:max-w-[800px] sm:w-3/5">
    <PostsList client:load transition:persist lang={lang} posts={filtered} />
  </div>
</BaseLayout>